<table style="width: 92%; margin-left: 50px;">
    <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By Name" style="width: 300px;"
                    name="searchTerm" [(ngModel)]="searchTerm" />
            </div>
        </td>
    </tr>
</table>
<div class="listContainer  panel panel-primary">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr style="background-color: #337ab7;">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of customer | customerFilter: searchTerm">
                    <td>{{cust.name}}</td>
                    <td>{{cust.email}}</td>
                    <td>{{cust.gender}}</td>
                    <td>{{cust.city}}</td>
                    <td>{{cust.state}}</td>
                    <td>{{cust.country}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="onEditChild($event)"
                            style='margin-right:10px' [attr.custId]="cust._id">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="onDeleteChild($event)"
                            style='margin-right:10px' [attr.custId]="cust._id">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
