<table style="width: 92%; margin-left: 50px;">
    <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By Name" style="width: 300px;"
                    name="searchTerm" [(ngModel)]="searchTerm" />
            </div>
        </td>
    </tr>
</table>
        
        <div class="cardContainer panel panel-primary " *ngFor="let cust of customer | customerFilter: searchTerm">
            <div class="panel-heading">
                <h3 class="panel-title">{{cust.name | uppercase}}</h3>
            </div>
            <div class="page-item panel-body">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="imageClass" [src]="cust.imageUrl">
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-6">Gender</div>
                                <div class="col-xs-6">:{{cust.gender}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Email</div>
                                <div class="col-xs-6">:{{cust.email}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Address</div>
                                <div class="col-xs-6">:{{cust.address}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">City</div>
                                <div class="col-xs-6">:{{cust.city}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">State</div>
                                <div class="col-xs-6">:{{cust.state}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Country</div>
                                <div class="col-xs-6">:{{cust.country}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Hobbies</div>
                                <div class="col-xs-6">:{{cust.hobbies}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" (click)="onEditChild($event)" style='margin-right:10px'
                    [attr.custId]="cust._id">Edit</button>
                <button type="button" class="btn btn-danger" (click)="onDeleteChild($event)" style='margin-right:10px'
                    [attr.custId]="cust._id">Delete</button>
            </div>
        </div>