@import '~bootstrap/dist/css/bootstrap.min.css';

.imageClass{
    width: 150px;
    height: 100px;
}

.cardContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.listContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}