<div style="padding-top: 50px;"></div>


<div *ngIf="customer.length>0; then customerList; else noRecord"></div>
<ng-template #customerList>
    <table style="width: 92%; margin-left: 50px;">
        <tr>
            <td>
                <div class="form-group">
                </div>
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button class="btn btn-white" type="button" (click)="onDisplayModeChange(1)"
                        [ngClass]="{'btn-primary active': displayMode === 1}">
                        <i class="fa fa-th"></i>
                    </button>
                    <button class="btn btn-white" type="button" (click)="onDisplayModeChange(2)"
                        [ngClass]="{'btn-primary active': displayMode === 2}">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>

<!-- CARD VIEW -->
        <div class="row" *ngIf="displayMode === 1">
            <app-customer-card [customer]="customer" (notifyEdit)="onEditParent($event)"
                (notifyDelete)="onDeleteParent($event)">
                </app-customer-card>
        </div>

<!-- LIST VIEW -->
        <div class="row" *ngIf="displayMode === 2">
            <app-customer-list [customer]="customer" (notifyEdit)="onEditParent($event)"
                (notifyDelete)="onDeleteParent($event)"></app-customer-list>
        </div>
</ng-template>

<ng-template #noRecord>
    <div>{{defaultMessage}}</div>
</ng-template>