<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="customers">Customer List</a></li>
      <li><a routerLink="/customers/createCustomer">Add Customer</a></li>
    </ul>
  </nav>

  <!-- <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="customers">Customer List</a>
    </li>
    <li class="nav-item">
      <a routerLink="/customers/createCustomer">Create Customer</a>
    </li>
  </ul> -->

  <router-outlet></router-outlet>

</div>